body {
    background-color: #f8f9fa;
    overflow-y: hidden;
    font-family: "Noto Sans", sans-serif;
}

.card-container {
    height: 100vh;
    width: 100%;
}

.input-text {
    width: 100%;
}

.text-container {
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.text-container textarea{
    border-radius: 50px;
    text-indent: 5px;
}

.send-btn {
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 25px;
    bottom: 22px
}

.chat-container {
    height: 100%;
    max-height: 80vh;
    overflow-y: auto;
}

.mesage-agent {
    font-weight: 600;
}

.mesage-agent::first-letter{
    text-transform: uppercase;
}

.typeing {
    display: none;
}

#queryText {
    height: 50px !important;
    border-radius: 50px;
    padding-right: 80px;
    font-family: "Noto Sans", sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}